@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');

$font:'Nunito', sans-serif;
$background:#5792ea;

@mixin app-padding {
    padding:10px 16px;
}
@mixin background {
    background-color: $background;
}

body,html{
    margin: 0px;
    padding: 0px;
    font-family: $font;
    font-size: 18x;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(circle at top right, rgb(36, 9, 119) 0%, rgb(36, 9, 119) 48%,rgb(72, 7, 149) 48%, rgb(72, 7, 149) 53%,rgb(109, 5, 178) 53%, rgb(109, 5, 178) 56%,rgb(145, 2, 208) 56%, rgb(145, 2, 208) 69%,rgb(181, 0, 237) 69%, rgb(181, 0, 237) 100%);}
.content{
    width: 25pc;
    background: rgba(255,255,255,0.4);
    border-radius: 8px;
    overflow: hidden;
    .inner{
        background: $background;
        padding:1em;
        clip-path: circle(40% at 50% 50%);
        transition: clip-path .5s ease-in-out;
        padding: 10px 20px;
        float:right;
        &:hover{
            background-color: green;
            color: white;
        }
    }
    &:hover .inner{
        clip-path: circle(75%);
    }
    
}
form{
    padding:1% 2%;
    div{
        width: 100%;
        margin: 1% 0px;
        float: left;
        label{
            width:100%;
            float: left;
        }
        input{
            @include app-padding();
            padding-left:1px;
            border:1px solid #bbb;
            border-radius: 4px;
            float: left;
            width:90%;
            transition: box-shadow .5 ease-in-out;
            margin:5px 0px;
        }
        input:focus{
            box-shadow: 0px 0px 4px #bbb;
        }
    }
}
